.main {
  padding: 3.9rem 5.6rem;
  &_container {
    display: flex;
    justify-content: space-between;
    @include media-tablet {
      flex-direction: column;
      align-items: center;
    }
  }
  @include media-tablet {
      padding: 3.9rem 2.6rem;
    }
}

.user {
  width: 29%;
  &_foto {
    max-width: 28rem;
    margin-bottom: 2.9rem;
    & img {
      width: 100%;
      border-radius: 50%;
    }
  }
  &_name {
    font-style: normal;
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 1.2rem;
  }
  &_nick {
    font-size: 1.8rem;
    color: #0064eb;
    text-decoration: none;
  }
  &_data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &_element {
      display: flex;
      align-items: center;
      margin: 2.6rem 2rem 0 0;
      & p {
        font-size: 1.6rem;
        margin: 0 0.9rem;
        white-space: nowrap;
      }
    }
  }
  @include media-tablet {
    width: 45%;
    margin-bottom: 2rem;
  }
}

.repo {
  width: 69%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &_list {
    min-height: 55rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
  }
  &_element {
    height: 12rem;
    background: #ffffff;
    border-radius: 6px;
    padding: 2.4rem 3.2rem;
    margin: 1.2rem 0;
    overflow: hidden;
    border: 10px #fff solid;
    &_title {
      font-weight: 500;
      font-size: 2.4rem;
      color: #0064eb;
    }
    &_discription {
      font-size: 1.6rem;
      margin-top: 1rem;
    }
    & a {
      text-decoration: none;
    }
  }
  @include media-tablet {
     width: 100%;
    }
}

h1 {
  font-weight: 600;
  font-size: 3.2rem;
  margin-bottom: 1.9rem;
}

.pagination {
  justify-content: flex-end;
}
