.state {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  & p {
    font-size: 2.2rem;
    text-align: center;
    color: #808080;
    margin-top: 4.6rem;
  }
  &_content {
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #0064EB;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
